@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

footer {
  font-size: 0.8em;
}

a {
  color: black;
}

.main {
  max-width: 560px;
  margin: 50px auto;
}
